body { 

	border:0px solid transparent;
	margin:0px;
	padding:0px;
	
	background: #C0C0C0;
	background-repeat:no-repeat;
	background-attachment:fixed;
	margin-bottom:0px;
	border-bottom:0px;
	color: white;
	}
hr {color: #cc0001; background-color: cc0001; height: 6px; width:100%;}
p {font-size:22px;}
h1{font-size:40px;text-shadow: 2px 2px #cc0001}
h3 {font-size:30px;}
h5{font-size:30px;color:#cc0001;}
ul, li{
    list-style:none;
    list-style-type:none;}
a:link {color:#cc0001;}      /* unvisited link */
a:visited {color:white;}  /* visited link */
a:hover {color:black;}  /* mouse over link */
a:active {color:white;}  /* selected link */



.twitter-timeline{align: right}



.black_overlay{display: none; position: fixed; top: 0%; left: 0%; width: 100%; height: 100%; background-color: black; z-index:1001; -moz-opacity: 0.8; opacity:.80; filter: alpha(opacity=80);}
.white_content {display: none; position: fixed; top: 25%; left: 25%; width: 50%; height: 50%; padding: 16px; border: 16px solid #cc0001; background-color:  #C0C0C0; z-index:1002; overflow: auto;}
.white_contentClose {display: none; position: fixed; top: 23.5%; left: 77.5%; width: 30px; height: 30px; z-index:1003; overflow: auto;}



.black_overlay2{display: none; position: fixed; top: 0%; left: 0%; width: 100%; height: 100%; background-color: black; z-index:1001; -moz-opacity: 0.8; opacity:.80; filter: alpha(opacity=80);}
.white_content2 {display: none; position: fixed; top: 25%; left: 25%; width: 50%; height: 50%; padding: 16px; border: 16px solid #cc0001; background-color:  #C0C0C0; z-index:1002; overflow: auto;}
.white_contentClose2 {display: none; position: fixed; top: 23.5%; left: 77.5%; width: 30px; height: 30px; z-index:1003; overflow: auto;}


.black_overlay3{display: none; position: fixed; top: 0%; left: 0%; width: 100%; height: 100%; background-color: black; z-index:1001; -moz-opacity: 0.8; opacity:.80; filter: alpha(opacity=80);}
.white_content3 {display: none; position: fixed; top: 25%; left: 25%; width: 50%; height: 50%; padding: 16px; border: 16px solid #cc0001; background-color:  #C0C0C0; z-index:1002; overflow: auto;}
.white_contentClose3 {display: none; position: fixed; top: 23.5%; left: 77.5%; width: 30px; height: 30px; z-index:1003; overflow: auto;}

